main {
  width: 100%;
  height: 100%;
  margin-top: calc(var(--header-height) + var(--sub-header-height));
  margin-left: var(--sidebar-width);
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.video-card-wrapper {
  display: grid;
  column-gap: 16px;
  row-gap: 78px;
  justify-items: center; /*centrerar videocard i sin ruta */
  background-color: #ffffff;
  margin-top: 22px;
  margin-left: 24px;
  margin-right: 24px;
}

.video-card {
  border: 0px solid black;
  width: 100%;
  max-width: 320px;
  height: 250px;
  cursor: pointer;
}

.video-card-top {
  margin-bottom: 8px;
  position: relative;
}
.thumbnail-img {
  width: 100%;
}
.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px 4px 4px; /* all sides with one line of code. works clockwise */
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.video-card-bottom {
  width: 100%;
  height: 112px; /* Från youtube */
  background-color: #ffffff;

  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-img {
  width: 36px;
  border-radius: 50%;
}

.video-card-bottom-right {
}

.video-info-div {
  display: inline-block;
}
.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.check_circle {
  font-size: 13px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
  display: inline;
}
